
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 53px;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 53px;            /* Footer height */
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}